{% extends 'base.html' %}

{% block content %}
    <div class="bg-light border p-5 rounded border-dark mt-5 m-auto w-25">
        <h3 class="text-center mb-3" style="font-size: 20px">Are you sure you want to delete?</h3>
        <form method="post">
            {% csrf_token %}
            <div class="w-100 d-flex">
                <button class="btn btn-success w-50" type="submit">Confirm</button>
                <a class="btn btn-danger w-50 ms-2 text-light text-decoration-none"
                   href="{% url 'profile' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
