{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-5">
        <div class="container-fluid">
            <table class="table w-100 text-center table-bordered bg-light">
                <tr>
                    <th class="col-md-4 text-center" scope="col">Calorie Limit</th>
                    <th class="col-md-4 text-center" scope="col">Total Calories consumed</th>
                    <th class="col-md-4 text-center" scope="col">Left</th>
                </tr>
                <tr>
                    <td class="d-flex align-items-center justify-content-center">{{ Calorielimit }}
                        <a class="text-dark" href="{% url 'calorielimit_edit' user.pk %}">
                            <div class="ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </div>
                        </a>
                    </td>
                    <td>{{ Calorieconsumed }}</td>
                    <td>{{ calorieleft }}</td>
                </tr>
            </table>
        </div>
        <div class="container-fluid">
            <h1 class="text-center">Selected Food Items</h1>
            <table class="table table-bordered text-center bg-light">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Food Name</th>
                    <th scope="col" class="text-center">Category</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for food in selectedfood %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.category }}</td>
                        <td>{{ food.quantity }}</td>
                        <td>
                            <a class="btn btn-danger text-decoration-none text-light"
                               href="{% url 'deleteFood' food.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}